:root {
  --color-accent: #f4ac45;
  --color-accent-1: #694a38;
  --color-black: #222;

  --font: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: var(--font);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fff4e3;
}

body {
  line-height: 1.6;
}

.container {
  width: 90rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

@media all and (max-width: 56.25em) {
  .container {
    width: 90vw;
  }
}
